
:root {
  --background: #f7f7f7;
  --text: black;
  --button: white;
  --button-active: #eeeeee;
  --button-hover: #efefef;
}

.controls {
  font-size: 16px;
  font-family: "Courier New", Courier, monospace;
}

.controls h1 {
  font-size: 2.25rem;
}

.controls button {
  padding: 0.5rem;
  background: var(--button);
  color: var(--text);
  border-radius: 0.25rem;
  width: 13rem;
}

.controls button:active {
  background: var(--button-active);
}

.controls button:hover {
  background: var(--button-hover);
}

.controls details {
  margin: 0.75rem 0;
}

.controls .container {
  width: 95%;
  margin: auto;
  text-align: center;
  padding: 0.5rem;
}

.error {
  color: red;
}

.success {
  color: #11a000;
}

#regDebug,
#authDebug {
  background: var(--button-hover);
  color: var(--text);
  border-radius: 0.25rem;
  text-align: left;
  font-size: 0.7rem;
  padding: 0.5rem;
  height: 15rem;
  width: 95%;
  overflow-y: auto;
}

/* Desktop Styles */
@media (min-width: 75rem) {
  .controls {
    font-size: 20px;
  }

  .container {
    width: 45rem;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1c2128;
    --text: #adbac7;
    --button: #373e47;
    --button-active: #eeeeee;
    --button-hover: #444c56;
  }
}
